@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Prompt:wght@300;400;500&display=swap');

:root {
  --main-black: rgb(60, 60, 60);
  --mid-black: rgb(76, 76, 76);
  --light-black: rgb(103, 103, 103);
  --light-grey: rgb(152, 152, 152);
  --upper-light-grey: rgb(201, 201, 201);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
  color: var(--main-black);
}

a {
  font-size: 14px;
  color: var(--light-grey);
  text-decoration: none;
}

li {
  list-style: none;
}

link {
  text-decoration: none;
  color: currentColor;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  position: relative;
  font-size: 24px;
  line-height: 40px;
  color: var(--main-black);
}
h2::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background: var(--main-black);
  border-radius: 50em;
  bottom: 0;
  left: 0;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header > .container {
  padding: 20px 0;
  border-bottom: 3px solid var(--light-grey);
}

.title {
  color: var(--main-black);
  font-size: 32px;
}

.subtitle {
  color: var(--light-black);
}

.main {
  display: flex;
}

.aside {
  border-right: 3px solid var(--light-grey);
  padding-right: 20px;
  max-width: 280px;
}
.aside > .container {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
}

.skills {
  grid-area: skills;
}
.details {
  grid-area: details;
}
.other {
  grid-area: other;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.details-list,
.links-list,
.study-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-item {
  display: flex;
  flex-direction: column;
}
.details-item > h3 {
  font-size: 16px;
}
.details-item > span {
  font-size: 14px;
  color: var(--light-grey);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-item {
  font-size: 14px;
  padding: 2px 5px;
  color: white;
  background: var(--main-black);
  border-radius: 50em;
}

.links-item {
  text-decoration: underline;
}

.core {
  padding-left: 20px;
}

.core > .section-item {
  padding: 20px 0;
  border-bottom: 3px solid var(--upper-light-grey);
}
.core > .section-item:last-child {
  border-bottom: none;
}

.section-item > p {
  color: var(--light);
}

.study-item > span {
  color: var(--light-grey);
  font-size: 14px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  transition: box-shadow ease 150ms;
}
.portfolio-item:hover {
  box-shadow: 0px 0px 5px -1px rgba(34, 60, 80, 0.18);
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.portfolio-item h3 {
  font-size: 16px;
}
.portfolio-item span {
  font-size: 14px;
  color: var(--light-grey);
}
.portfolio-item img {
  aspect-ratio: calc(4 / 3);
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
  }
  .aside {
    max-width: 100%;
    border-right: none;
    padding: 20px;
  }
  .aside > .container {
    grid-template-areas:
      'skills skills'
      'details other';
  }
  .header {
    padding: 20px;
  }
  .core {
    padding: 20px;
  }
  .core > .section-item:last-child {
    border-bottom: 3px solid var(--upper-light-grey);
  }
}

@media screen and (max-width: 600px) {
  .aside > .container {
    grid-template-areas:
      'skills'
      'details'
      'other';
  }
}

@media screen and (max-width: 450px) {
  .aside {
    padding: 5px;
  }
  .header {
    padding: 5px;
  }
  .core {
    padding: 5px;
  }
}
